body
{
    /* background-image : url('https://img.wallpapersafari.com/desktop/1600/900/64/73/uUA9q6.png'); */
    background-repeat:no-repeat;
    background-size: cover;
    /* background-size:100% 100%; */
    font-family: 'kalam';
    background-attachment: fixed;
    background-color:rgba(255, 0, 0, 0.699);
}
/* the style for the header */
header ul 
{
    background-color:white;
    width:100%;
    min-height:69px;
    padding-top:31px;
}
header h1
{
    display:inline;
    font-size:35px;
    text-align:center;
    margin-top:40px;
    color:rgba(255, 0, 0, 0.699);
}

header ul li 
{
    font-size: 25px;
    /* margin-left:10%; */
    display:inline;
    padding:30px;
}
header ul li:hover
{
    cursor:pointer;
    background-color:rgba(255, 0, 0, 0.699);
}
#li1
{
    margin-left:23%;
    /* background-color:red; */
}
/* End style of the header */

/* the style for the main */
main p 
{
    font-size:25px;
    text-align:center;
    margin-top:10%;
}
.imageSlide
{
    width:20%;
    height:20%;
}

.imageSlide
 {
    margin-top: 7%;
    margin-left: 9%;
    border-radius: 19%;
}

.imageSlide:hover
{
    cursor: pointer;
}

/* in case I used a table */
main table
{
    margin-top: 69px;
    margin-left: 24%;
    /* padding: 15px; */
    /* border-radius: 35px; */
    background-color: #ffffff75;
    /* padding: 61px; */
    min-width: 56%;
    border-radius: 20px;
}


main table, main th, main td 
{
    border: 1px solid black;
    padding: 20px;
    color: #9a000e;
    border-radius: 26px;
}

main th
{
    color:black;
}


a
{
    text-decoration: none;
    color:black;
}

main tr:hover
{
    background-color: white;
}


main table
{
    border-radius: 20px;
}
/* the end for table design */

/* the style for the unorder list in main */
main ul 
{
    margin-top: 5%;
    margin-left:28%;
    font-size: 25px;
    background-color: #ffffffad;
    width: 43%;
    border-radius: 4%;
    padding-bottom: 36px
}

main li 
{
    padding-top: 51px;
    padding-left: 52px;
    list-style-type: disclosure-closed;
}

#showResultBtn
{
    display:none;
    height: 40px;
    width: 165px;
    border-radius: 23px;
    margin-left: 43%;
    margin-top: 3%;
    font-size:20px;
}

#showResultBtn:hover
{
    cursor:pointer;
    background-color:#640d1479;
}

#dataChart
{
    margin-top:10%;
    color:black;
    margin-bottom:5%;
    /* margin-left:10%; */
}

footer
{
    background-color:white;
    height:250px;
}

footer ul 
{
    background-color:white;
    width:100%;
    min-height:132px;
    padding-top:31px;
    color:rgba(255, 0, 0, 0.699);
}
footer h1
{
    display:inline;
    font-size:35px;
    text-align:center;
    margin-top:40px;
}

footer ul li 
{
    cursor:pointer;
    font-size: 25px;
    /* margin-left:10%; */
    display:inline;
    padding:100px;
}


footer h1
{
    margin-left: 37%;
}